/*style goes here*/
p{
  color:#808B96;
  font-family: 'Source Serif Pro',serif;
}

h1{
  color:#F7DC6F;
  font-family: 'satisfy', cursive, Helvetica;
text-align: justify;
font-size: 3em;
}

h2{
color:#F7DC6F;
font-family: 'Open Sans', sans-serif, Helvetica;
font-size: 1.5em;

}


#container {
width: 95%;
margin: 0 auto;

}


body {
  background-color: #E4FBFD;
}

#nav {
  padding: 0;
  list-style-type: none;
}
#nav li {
border-bottom: 1px solid #ccc;
}

#nav a:link, #nav a:visited {
    display:block;
    color: #fff;
  background-color: #2C3E50;
  font-weight: bold;
  text-align: center;
text-decoration: none;
font-family: 'Open Sans',Helvetica, Arial, sans-serif;
padding: 4px;
}

#nav a:hover, #nav a:active {
background-color: #808B96
}

.caption {
  font-family: Georgia, "Times New Roman", Serif;
  color: black;
  font-style: italic;
  text-align: left;
  font-size: 0.8em;
  margin-top: 0;

}

#footer {
font-family: Georgia, "Times New Roman", Serif;
color: black;
font-size: 0.8em;
border-top: 1px solid black;

}

img {
  border: none;
}
