/*style goes here*/
p{
  color:Black;
  font-family: 'Source Serif Pro',serif;
}

h1{
  color:#F7DC6F;
  font-family: 'satisfy', cursive, Helvetica;
text-align: justify;
font-size: 3em;
}

h2{
color:#F7DC6F;
font-family: 'Open Sans', sans-serif, Helvetica;
font-size: 1.5em;

}

h3{

Color: black;
font-family: 'Open Sans', sans-serif, Helvetica;
font-size: 1.25em;
}


#container {
width: 95%;
margin: 0 auto;

}


body {
  background-color: #E4FBFD;
}

#nav {
  padding: 0;
  list-style-type: none

}
#nav li {
border-bottom: 1px solid #ccc;
font-size: 24px;
}

#nav a:link, #nav a:visited {
    display:block;
    color: #fff;
  background-color: #2C3E50;
  font-weight: bold;
  text-align: center;
text-decoration: underline;
font-family: 'Open Sans',Helvetica, Arial, sans-serif;
padding: 4px;
}

#nav a:hover, #nav a:active {
background-color: #808B96
}

#nav {
display: flex;
flex-direction: column;
}

@media (min-width:600px) {
#nav {
  flex-direction: row;
  justify-content: center;
}
}


.caption {
  font-family: Georgia, "Times New Roman", Serif;
  color: black;
  font-style: italic;
  text-align: left;
  font-size: 0.8em;
  margin-top: 0;

}

#footer {
font-family: Georgia, "Times New Roman", Serif;
color: black;
font-size: 0.8em;
border-top: 1px solid black;

}


.cards {
     margin: 15px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-gap: 20px;
    grid-auto-rows: minmax(150px, auto) ;
    grid-template-areas:
    "a a b c"
    "a a b c"
    "d d b c" ;

}


.cards li {
    background-color: #808B96;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;

}

.one  {
  grid-area: a;

}

.two {
  grid-area: b;

}

.three {
  grid-area: c;


}

.four {
  grid-area: d;


}


@media (max-width: 600px) {
  .cards {
display: grid;

grid-template-areas:
"a b"
"a b"
"c d";

}
}



img {
  border: none;
}
